<ion-header>
  <ion-toolbar>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment value="lindas">
    <ion-segment-button (click)="mostrarLindas()">
      <ion-label>Lindas</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="mostrarFeas()">
      <ion-label>Feas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngIf="mostrarTorta">
    <ion-card-header>
      <ion-card-title>Fotos Lindas (Torta)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="tortaCanvas"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!mostrarTorta">
    <ion-card-header>
      <ion-card-title>Fotos Feas (Barras)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="barrasCanvas"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
