<!-- src/app/login/login.page.html -->

<ion-content class="login-content" fullscreen="true">

  <div class="login-box">

    <h1 class="login-title">Bienvenido</h1>
    <p class="login-subtitle">Iniciá sesión para continuar</p>

    <!-- Campo de correo -->
    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input type="email" placeholder="Correo electrónico" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <!-- Campo de contraseña -->
    <ion-item lines="none" class="input-item">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" required></ion-input>
    </ion-item>

    <!-- Botón para ingresar -->
    <ion-button expand="block" class="login-button" (click)="login()">Ingresar</ion-button>

    <div class="predefined-buttons">
      <ion-button fill="clear" (click)="completarCampos('admin@admin.com', '111111')">Admin</ion-button>
      <ion-button fill="clear" (click)="completarCampos('invitado@invitado.com', '222222')">Invitado</ion-button>
      <ion-button fill="clear" (click)="completarCampos('usuario@usuario.com', '333333')">Usuario</ion-button>
      <ion-button fill="clear" (click)="completarCampos('anonimo@anonimo.com', '444444')">Anónimo</ion-button>
      <ion-button fill="clear" (click)="completarCampos('tester@tester.com', '555555')">Tester</ion-button>
    </div>

  </div>

</ion-content>
